body
{
	background-color: #262626;
}

/* Themes */
.dark
{
	background-color: #262626;
	color: #E2E2E2;
}

.light
{
	background-color: #E2E2E2;
	color: #262626;
}

/* Header */
#header
{
	display: inline-block;

	width: 960px;
	height: 100px;
}

#logo
{
	display: inline-block;

	width: 480px;
	height: 95px; /* 100px total */

	font-size: 72px;

	border-width: 0px;
	border-bottom: 5px;
	border-color: #C53327;
	border-style: solid;

	vertical-align: top;
}

#quote
{
	display: inline-block;
	font-size: 24px;
	font-style: italic;

	margin-left: 0px;

	height: 50px;
}

#navbar
{
	display: inline-block;

	border-color: #C53327;
	border-width: 5px;
	border-bottom: 0;
	border-style: solid;

	width: 470px;
	height: 45px;
}

.navbutton
{
	display: inline-block;

	font-size: 20px;
	text-align: center;

	padding-top: 10px;
	padding-bottom: 9px;
	
	border-width: 0px;
	border-bottom: 2px;
	border-style: solid;
	border-color: transparent;

	margin-left: 1px;
	margin-right: 1px;

	width: 115px;
}

.navbutton:hover
{
	border-color: #C53327;

	cursor: pointer;
}

/* Body */
#body
{
	display: inline-block;

	width: 890px; /* 960 total */

	padding: 30px;

	border-color: #C53327;
	border-width: 5px;
	border-top: 0;
	border-style: solid;
}

.maintitle
{
	font-size: 36px;
	color: #C53327;
	
	margin-bottom: 20px;
	
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.sectiontitle
{
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	
	margin-bottom: 20px;
}

p
{
	font-size: 16px;
}

#content
{
	width: 960px;

	margin: 0;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

	font-family: Georgia;
}

a
{
	color: #a0a0a0;
}