<span class="site-title">
    CulDeVu
</span>

<a class="nav-button" href="/">
    Home
</a>
{% for page in site.pages %}
    {% if page.title != nil %}
        <a class="nav-button" href=" {{ page.url }} ">
            {{ page.title }}
        </a>
    {% endif %}
{% endfor %}

<p>
    <a href="https://github.com/culdevu">
        <span class="social-media-container">{% include icon-github.svg %}</span>
    </a>
    <a href="https://twitter.com/culdevu">
        <span class="social-media-container">{% include icon-twitter.svg %}</span>
    </a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <span class="social-media-container">{% include icon-rss.svg %}</span>
    </a>
</p>

<hr />
<br />

<p>
    <h2>Hello there!</h2>
    <p>
        My name is Daniel Taylor. My pastimes include trying to sample as many 
        interesting programming projects I can get my hands on, specifically 
        in the field of Computer Graphics. I'm currently a student at George 
        Mason University, perusing my Bachelor's in Computer Science.
    </p>
</p>

<hr />
<br />

<p>
    If you are looking to hire, all you have to do is show a passing interest! 
    My <a href="{{ site.url }}/portfolio/">portfolio</a> and 
    <a href="{{ site.url }}/resume/">resume</a> are available, but I'd love 
    to make a more customized one for your company!
</p>

<!--
<hr />
<br />

<p>
    maybe have a thingy where i'm like "look at all my old posts and shit!"
    or maybe have one of those "sort posts by catagory" things that are all the rage
</p> -->
